.avatar {
    position: fixed;
    overflow: hidden;
    z-index: -2;
}

.avatar.about {
    height: 89vh;
    bottom: -8vh;
    left: 50%;
    transform: translateX(-50%)
}

.avatar.skills {
    height: 190vh;
    bottom: -110vh;
    left: -1.5rem
    transform: traslateX(0%) scaleX(-1);
}